* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;

}

.nav-logo-container {
    min-height: 60px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    /* top: ; */
    right: 0px;
    margin-top: 7px;
    margin-right: 7px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.logo {
    position: absolute;
    left: 0px;
    margin-top: 10px;
    margin-left: 10px;
}

#courses nav {
    display: none;
}
 
#howItWorks nav {
    display: none;
}


